abbr[title], abbr[data-original-title] {
  text-decoration: revert;
  border-bottom: revert;
  text-decoration-skip-ink: revert;
}

figure.floatright {
	max-width: 30%;
	height: auto;
	float: right;
}

figure.floatleft {
	max-width: 30%;
	height: auto;
	float: left;
}
